<% @categories.each do |category| %>
<%= link_to category_path(category)  do%>
<%= category.name %>
<% end %>
<% end %>

<h1> Index articles</h1>

<% @articles.each do |article|  %>
  <%= article.title %>
  <% end %>
