<%= link_to article_path(article) do %>
<div class="cards-2-container">
  <div class="card-2-title">
    <h2><%= article.title %></h2>
    <p><%= article.subtitle %></p>
  </div>
  <div class="card-2-image">
    <img src="<%= article.photo1 %> " alt="">
  </div>
</div>
<% end %>
