.footer-login-container {
  border-top: 1px solid lightgrey;
  padding: 11px 0;
  text-align: center;
  color: #aab8c2;
  margin-right: 10px;
  font-size: 12px;
  a {
    color: #aab8c2;
    margin-left: 10px;
    font-size: 12px;
  }



}
