.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.nav-link {
  font-size: 14px;
  font-weight: bold;

}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.nav-item {


  }
  a {
    color: black;
    // font-weight: bold;
    font-size: 16px;
    text-decoration: none;
     &:hover {
    color: grey;
    text-decoration: none;
  }
}


@media (min-width: 576px) {
 .nav-item {
  display: none;
 }

 .navbar-lewagon {
  justify-content: center;
 }
}

.navbar-2 {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px;
  background-color: #069;
  margin-bottom: 10px;

  a {
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin-right: 10px;
  }
}


@media (max-width: 575px) {
  .navbar-2 {
    display: none;
  }
}
